<link rel="stylesheet" href="/css/create-issue.css">
<body>
    <div id="container">
        <form action="/issues/<%=project_id%>/create" method="post" id="form">
            <div class="content">
                <input type="text" name="title" placeholder="Enter the title" required>
            </div>
            <div class="content">    
                <textarea name="description" placeholder="Enter the description" required cols="30" rows="3"></textarea>
            </div>    
            <div class="title">
                <span>Check Labels</span>
            </div>
            <% for (label of labels) {%>
            <div class="content">
                <input type="checkbox" id="<%=label.name%>" name="labels" value="<%=label.name%>">
                <label for="<%=label.name%>"><%=label.name%></label> 
            </div>
            <%}%>
            <div class="content">
                <input type="text" name="author" placeholder="Author" required>
            </div>
            <div class="title">    
                <input type="submit" value="Create">
            </div>
        </form>
    </div>
</body>